{% extends "base.html" %}

{% block body %}
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    {% for blog in object_list %}
      <div class="post-preview">
        <a href="post.html">
          <div>
            <h2 class="post-title">
              {{blog.content}}
            </h2>
          </div>
        </a>
        <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
      </div>
    {% endfor %}
    <hr>
  </div>
</div>
{% endblock %}